h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

body {
  font-family: "Roboto";
  font-style: normal;
  background: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-blue {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-black {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.agencja-button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakty-button {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-item {
  margin-left: 50px;
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 3%;
  border-radius: 4px;
  border-color: #f5f4fa;
  border-style: none;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: #2196f3;
}

.link-color {
  color: #757575;
}

.link-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 252px;
}

.footer-con {
  margin-top: 20px;
}

.footer-flex {
  display: flex;
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-section {
  font-size: 44px;
  padding-top: 200px;
  padding-bottom: 280px;
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/main.jpg);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section-h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.middle-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.middle-list {
  display: flex;
  justify-content: space-between;
}

.middle-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.middle-text {
  font-size: 14px;
  line-height: 1.71;
}

.work-section {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  position: relative;
}

.work-text {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 27px 0px 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-whole {
  padding: 30px 0px;
}

.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-possition {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.button-main {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  border-color: #f5f4fa;
  border-style: none;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.font-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.font-possition {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-section {
  padding-top: 10px;
  padding-bottom: 30px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 862;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 90px;
}

.portfolio-item {
  box-sizing: border-box;
  border: 1px solid;
  border-color: #eeeeee;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-trans {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio-button-space:not(:last-child) {
  margin-right: 10px;
}

.portfolio-border {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.middle-icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.social-list {
  display: flex;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.client-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.client-item {
  box-sizing: border-box;
}

.client-link {
  display: block;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  background-color: #fff;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

.footer-con {
  display: flex;
}

.footer-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.footer-social-flex {
  margin-left: 20px;
}

.footer-p-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 15px 0px 10px 0px;
  margin-bottom: 15px;
  color: #ffffff;
  width: 113px;
  height: 16px;
  left: 531px;
  top: 2751px;
}

.footer-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffffff10;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;

}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  cursor: pointer;
}

.portfolio-pop {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  top: 0;
  left: 0;
  color: #ffffff;
}

.portfolio-overlay {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.active::after {
  position: relative;
  content: " ";
  display: block;
  width: 100%;
  border: 3px solid #2196f3;
  background-color: #2196f3;
  bottom: -25px;
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.top-title {
  margin-top: 12px;
}

.form-field{ 
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: #2196f3;
}


.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .input-icon,
.form-input:focus ~ .input-icon {
  fill: #2196f3;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover, 
textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0,5);
}

.form-field-chek {
  padding-left: 14px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
 }

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-checkbox:checked + .icon-chek {
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.policy-link {
  margin-left: 4px;
  color:   rgba(33, 150, 243, 1);
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color:#ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #188CE8;
}
.footer-submit {
  margin-left: 93px;
}

.footer-submit-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-submit-input {
  width: 358px;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  color: #ffffff;
}

.footer-submit-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
}

.footer-submit-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}
